#project-1,
#project-2 {
    margin-bottom: 200px;
}

.text {
    opacity: 1;
    position: relative;
}

h4 {
    position: absolute;
    top: -31px;
    left: -22px;
    font-weight: bold;
    opacity: 0.1;
    top: 0;
    letter-spacing: -0.2px;
}