

.project {

    .text {
        opacity: 1;
        position: relative;
    }

    .pixel {
        top: 0px;
        left: -2px;
    }
        
    h3 {
        margin-top: 31px;
    }
    
    h4 {
        position: absolute;
        left: -22px;
        font-weight: bold;
    opacity: 0.1;
    top: 0;
    letter-spacing: -0.2px;
    }

    img {
        min-height: 505px;
        width: 100%;
    }
}