@import 'reset';
@import 'grid';

body {
  background-image: url('/public/grid.png');
  background-position: center;
  font-family: 'IBM Plex Sans';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 24px;
  color: #051429;
  color: var(--night-blue);
  text-align: left;
  line-height: normal;
}

#app{
  margin: 0 33px;
}

// header styles
header {
  position: relative;
  height: 128px;
  
  div.rectangle {
    position: absolute;
    background-color: #183eef;
    top: 70px;
    z-index: -1;
    height: 50%;
    width: 100%;
  }
  
  h1 {
    font-size: 95px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.5px;
    z-index: 1;
  }
  
}

h4 {
  font-weight: bold;
}

// project styles

h3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.2px;
  margin-bottom: 49px;
}

img {
  width: 100%;
}

p {
  opacity: 0.8;
  text-align: justify;
  color: #051429;
  color: var(--night-blue);
  line-height: 2;
  letter-spacing: -0.1px;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: #183eef;
}




