#app {
    display: grid;
    grid-template-rows: 108px repeat(2, [row] auto) 539px;
    grid-template-columns: repeat(8, [col] 1fr);
    grid-template-areas:
    "logo .    .    .    nav  nav  nav  ."
    "sbar me   me   me   me   me   me   me"
    "sbar work work work work work work work"
    "cont cont cont cont cont cont cont cont"
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
    a {
        grid-column-start: 1;
    }
    a:nth-child(2) {
        grid-column-start: 2;
    }

    a:nth-child(3) {
        grid-column-start: 3;
    }
}

.sidebar {
    grid-area: sbar;
}

section {
    grid-template-columns: repeat(7, 1fr);
    align-items: flex-end;
    header {
        grid-area: head;
    }
}


section#me{
    grid-area: me;
    grid-template-rows: 208px auto;
    grid-template-areas:
        "head head head head .    .   ."
        ".    .    .    p    p    p   p";  

    p {
        grid-area: p;
        margin: 101px 0 86px 0;
    }
}

section#work {
    grid-area: work;
    grid-template-rows: 254px repeat(3, 1fr);
    grid-template-areas: 
    "head head head head .    .    ."
    "p1 p1 p1 p1 p1 p1 p1"
    "p2 p2 p2 p2 p2 p2 p2"
    "p3 p3 p3 p3 p3 p3 p3";

    header {
        margin-bottom: 109px;
        align-self: flex-end;
    }
    ul {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:
        "text text . img img img img";
        li.text{
            grid-area: text;
        }

        li.image {
            grid-area: img;
        }
    }

    #project-1 {
        grid-area: p1;

    }

    #project-2 {
        grid-area: p2;
    }

    #project-3 {
        grid-area: p3;
    }
    
}

section#contact {
    grid-area: cont;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". head head head .    .    . ." 
    ". p    p    p    p    .    . ."
    ". foot foot foot foot foot foot ."; 
    header {
        grid-area: head;
    }

    p {
        grid-area: p;
    }

    footer {
        grid-area: foot;
    }
}

