body {
  background-color: white;
  background-image: url('/public/grid.png');
  background-position: center;
  font-family: 'IBM Plex Sans';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 24px;
  color: #051429;
  color: var(--night-blue);
  text-align: left;
  line-height: normal;
  margin: 33px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-content: center;
  margin: 195px 0px 0px 12.5%;
}

header {
  position: relative;
}

h1,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 99px;
  line-height: 1.29;
  letter-spacing: -0.5px;
  margin-bottom: 169px;
  position: relative;
  z-index: 1;
}

.rectangle {
  width: 687px;
  height: 53px;
  position: absolute;
  background-color: #183eef;
  top: 75px;
  z-index: -1;
}

h3 {
  font-size: 36px;
  letter-spacing: -0.2px;
  margin-bottom: 49px;
}

p {
  opacity: 0.8;
  text-align: justify;
  color: #051429;
  color: var(--night-blue);
  line-height: 2;
  letter-spacing: -0.1px;
}

a {
  font-size: 18px;
  font-weight: bold;
  color: #e65b6c;
  color: var(--darkish-pink);
}

nav ul {
  display: flex;
  width: 50%;
  margin-left: 50%;
}

nav ul li {
  padding-right: 121px;
}

nav ul li a {
  opacity: 0.07;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #051429;
  color: var(--night-blue);
  text-decoration: none;
}

nav ul li:nth-child(2) {
  padding-right: 83px;
}

a.selected {
  opacity: 0.8;
}

#me article {
  margin-left: 43%;
}

#work ul {
  display: flex;
  justify-content: baseline;
}

#work ul li {
  margin-bottom: 201px;
}

#work ul li:first-child {
  width: 37.5%;
}

#work ul li:last-child {
  width: 62.5%;
}

#work h4 {
  margin-left: -10px;
}

#work img {
  width: 100%;
  margin-left: 8.5%;
}

#work p {
  width: 75%;
  margin-left: 0px;
}

#contact {
  background: #051429;
  margin-left: 0;
  color: #ffffff;
}

#contact footer {
  margin-left: 12.5%;
}

#contact div {
  z-index: 0;
  width: 515px;
}

#contact h1 {
  font-size: 95px;
  font-weight: bold;
  ;
  line-height: 1.4;
  letter-spacing: -0.5px;
  text-align: left;
  margin: 73px 0 57px 0;
}

#contact p {
  margin-right: 37.5%;
  margin-bottom: 121px;
}

#contact ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  margin-right: 12.5%;
}

#contact a {
  transform: rotate(360deg);
  opacity: 0.8;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.1px;
  text-align: left;
}
