section#contact {
    background: #051429;
    color: #ffffff;
}

#contact div {
    z-index: 0;
}

#contact h1 {
    line-height: 1.4;
}

footer {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}