section#contact {
    background: #051429;
    
    a {
        color: #ffffff;
    }

    div {
        z-index: 0;
    }

    h1 {
        color: #ffffff;
        line-height: 1.4;
    }
    
    p {
        color: #ffffff;
        transform: rotate(360deg);
        opacity: 0.8;
        letter-spacing: -0.2px;
        font-size: 24px;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
    }
}