div#work > a {
        font-size: 36px;
        transform: rotate(360deg);
        opacity: 0.8;
        font-weight: bold;
        letter-spacing: -0.2px;
        color: #183eef;
        text-decoration: none;
}